<div class="container pt-2">
  <h2>Merging With Commit</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac mi in ante laoreet cursus. Nulla leo dolor,
    finibus ac lorem eu, sodales vulputate mi. Maecenas vel diam justo. Nullam ac arcu sed nisi tempor tempus. Maecenas
    vel odio tellus. Donec mollis mattis tellus eget luctus. Pellentesque efficitur ex id sem mollis, vitae condimentum
    lectus malesuada. Nulla consequat ligula id venenatis luctus. Morbi bibendum, sapien non consectetur blandit, mi
    quam lacinia erat, nec blandit velit nibh non eros. Aenean tincidunt facilisis urna in scelerisque. Cras sagittis
    tempus urna vel maximus. Ut ultricies finibus nisl.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac mi in ante laoreet cursus. Nulla leo dolor,
    finibus ac lorem eu, sodales vulputate mi. Maecenas vel diam justo. Nullam ac arcu sed nisi tempor tempus. Maecenas
    vel odio tellus. Donec mollis mattis tellus eget luctus. Pellentesque efficitur ex id sem mollis, vitae condimentum
    lectus malesuada. Nulla consequat ligula id venenatis luctus. Morbi bibendum, sapien non consectetur blandit, mi
    quam lacinia erat, nec blandit velit nibh non eros. Aenean tincidunt facilisis urna in scelerisque. Cras sagittis
    tempus urna vel maximus. Ut ultricies finibus nisl.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac mi in ante laoreet cursus. Nulla leo dolor,
    finibus ac lorem eu, sodales vulputate mi. Maecenas vel diam justo. Nullam ac arcu sed nisi tempor tempus. Maecenas
    vel odio tellus. Donec mollis mattis tellus eget luctus. Pellentesque efficitur ex id sem mollis, vitae condimentum
    lectus malesuada. Nulla consequat ligula id venenatis luctus. Morbi bibendum, sapien non consectetur blandit, mi
    quam lacinia erat, nec blandit velit nibh non eros. Aenean tincidunt facilisis urna in scelerisque. Cras sagittis
    tempus urna vel maximus. Ut ultricies finibus nisl.</p>
</div>
